*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/red\ velvet1.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-areas: 
     "header"
     "main"
     "footer";
     grid-template-rows: 80px 1fr 5px;
     padding: 32px;
}
header{
   grid-area: header;
   color: white;
   font-size: 20px;
   font-weight: 150px;
   grid-gap: 30px;
   display: flex;
   font-family: 'Gruppo', cursive;
   font-family: 'Righteous', cursive;
}
main{
   grid-area: main;
   display: grid;
   grid-template-areas: 
   "logo-container image-container"
   "video video";
   grid-template-rows: 1fr 110px;
}
.logo-container{
    grid-area: logo-container;
}
.logo{
    top: 20%;
    left: 1%;
    width: 360px;
    position: absolute;
    transform: translate(0% 0%);
}
.image-container{
    grid-area: image-container;
}
.icon-network{
    left: 85%;
    margin-top: -130px;
    position: relative;
    transform: translate(5%, 20%);
    grid-template-areas: 
    "icon1"
    "icon2"
    "icon3";
}
.icon1{
    width: 32px;
grid-area: icon1;
}
.icon2{
    width: 32px;
grid-area: icon2;
}
.icon3{
    width: 32px;
grid-area: icon3;
}
.row{
    grid-area: video;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.row img {
    width: 110px;
}
footer{
   grid-area: footer;
}

